ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: #ADD8E6;
}

.footer {
   /* position: absolute;*/
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #333;
}
.footer p {
	color: white;
	text-align: center;
}

.masonry {
    margin: 2.5em 2.5em;
    padding: 0;
    column-gap: 1.5em; /* Общее расстояние между колонками */
    font-size: .85em;
    -moz-column-gap: 1.5em; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 1.5em; /* Расстояние между колонками  для Safari, Chrome и iOS */
    width: 200px;
    

}
 
/* Элементы в виде плиток с содержанием */
.item {
   
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
    box-shadow: 2px 2px 4px 0 #ccc; /* Внешняя тень плиток */

}
 .block {
    display: inline-block;
    margin:0 auto;


 }
 .main {
    margin:0 140px;
 }

 /*** контейнер демо ***/
.example {
  position: relative;
  padding: 24px;
  border-bottom: 1px solid #ddd; 
  margin:0 auto;
  max-width: 620px;
}
.mt {
margin-top: 12px;
}

/*** Кнопки ***/

.btn {
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;  
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; 
  padding-left: 14px;
  padding-right: 14px;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 36px;
  -webkit-transition-property: box-shadow;
  -moz-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  transition-duration: .5s;
}
.btn, .btn:hover, .btn:active, .btn:focus {
  text-decoration: none;
  outline: none; 
}
.btn::-moz-focus-inner {
  border: 0;
  padding: 0; 
}
/*** Цвета шрифта кнопок без фона ***/


.btn-flat.btn-grey,
.btn-icon.btn-grey {
  color: #9e9e9e; 
}


/*** Тень кнопок ***/
.btn-raised,
.btn-fab {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
/*** Изменение при наведении ***/
.btn-raised:hover,
.btn-flat:hover,
.btn-fab:hover,
.btn-icon:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4); 
}
/*** Кнопки с фоном ***/


.btn-raised.btn-grey,
.btn-fab.btn-grey {
  color: #fff;
  background-color: #CD853F; 
}
.responsive {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 100%;
   height: 300px;
   
}   
