<p>{{product.product.name}}</p>
<p>{{product.product.model}}</p>
<p>{{product.product.description}}</p>
<p>{{product.product.price}}</p>
<button ng-click="product.editProduct(product.product.id)">edit</button>
<button ng-click="product.deleteProduct(product.product.id)">&times;</button>
