<div class="w3-row-padding">
	<div class="w3-second">
		<div class="block" ng-repeat="product in products.products track by $index">
			<div class="masonry">
				<div class="item">
					<p>Name: {{product.name}}</p>
					<p>Model: {{product.model}}</p>
					<a  class="btn btn-grey btn-raised" ng-click="products.getProduct(product.id)">View more</a>
				</div>
			</div>
		</div>
	</div>
</div>