<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script>
		'use strict';

		var tpl = `
			<div>
				<span class="title">
					{{title}}
				</span>
				<span class="text">
					{{text}}
				</span>
				<span class="comment">
					{{comment}}
				</span>
			</div>
		`;
		
		var list = 	[
			{
				id: '12341412',
				title: 'qwerty',
				text: 'iuh',
				comment: '123'
			},
			{
				title: 'ytrewq',
				text: 'booooooooom',
				comment: '456'
			},
			{
				title: 'asdfgh',
				text: 'stradajte',
				comment: '789'
			}
		];

		function replaceTemplate(arr, string) {
			var result = '';
			var originalString = string;
			
			for (var j = 0; j < arr.length; j++) {
				var keys = Object.keys(arr[j]);

				for (var i = 0; i < keys.length; i++) {
					//ищем совпадение с названием ключа, а потом заменяем на 
					//значение ключа
					string = string.replace(
						'{{' + keys[i] + '}}', arr[j][keys[i]]
					);
				}
				// добавляем измененную строку в резалт
				result += string;
				// превращаем измененную строку в оригинальную(шаблонную)
				// тут спасибо Вовану за подсказку:D
				string = originalString;
			}

			return result;
		}

		console.log(replaceTemplate(list, tpl));
	</script>
</body>
</html>