<header>
	<ul>
		<li><a ui-sref="main.products">Products</a></li>
		<li><a ui-sref="main.product.add">Add product</a></li>
	</ul>
</header>
<main class="main">
	<ui-view>
		
	</ui-view>

</main>
<!-- <footer class="footer">
	<p>All right reserved 2016</p>
</footer> -->