<!DOCTYPE html>
<html lang="en" ng-app="pagination">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
	<script src="libs/angular.js"></script>
	<script src="app.js"></script>
	
	<div class="container" ng-controller="PaginationController as pagination">
		<div ng-repeat="item in pagination.collection | StartFrom: pagination.startingItem() |limitTo: pagination.itemsOnPage">
			<p class="text-center">
				<span class="bg-info">
					<strong>{{ item.name }} {{item.id}}</strong>
					<em>{{ item.type }}</em>
				</span>
			</p>
		</div>
		<div class="row" >
			<div class="col-xs-8 col-xs-offset-2">
				
				<div class="text-center">{{ pagination.currentPage + 1 }} from {{ pagination.numberOfPages() }} </div>
				
				<button class="pull-left btn btn-danger" ng-disabled="pagination.firstPage()" ng-click="pagination.back()">prev</button>
				<button class="pull-right btn btn-primary" ng-disabled="pagination.lastPage()" ng-click="pagination.next()">next</button>

			</div>
		</div>
	</div>
</body>
</html>